<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79229519131-1qkqlf51emrp5gks9349i8dmankd6c7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79229519131-1qkqlf51emrp5gks9349i8dmankd6c7d</string>
	<key>API_KEY</key>
	<string>AIzaSyBhx08MojR26NWmsISL-YkcD0H2ItREgOs</string>
	<key>GCM_SENDER_ID</key>
	<string>79229519131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinFlutter</string>
	<key>PROJECT_ID</key>
	<string>coinwrap-f0fd5</string>
	<key>STORAGE_BUCKET</key>
	<string>coinwrap-f0fd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79229519131:ios:3c0ee0fe6882fe6f3fffbe</string>
</dict>
</plist>